*.fps
clle.smi
cldr.smi
smidf.smi
.ipynb_checkpoints/
__pycache__/
*.pyc
smidfdr.smi
Untitled.ipynb
exp6/checkpoint
exp6/zinc*
cix/myfuncs.pyc
exp1/.ipynb_checkpoints/Exp1Analysis-checkpoint.ipynb
exp1/Untitled.ipynb
exp3/.ipynb_checkpoints/Exp3Analysis-checkpoint.ipynb
exp4/.ipynb_checkpoints/Exp4Analysis-checkpoint.ipynb
exp4/.ipynb_checkpoints/Exp4DivSample-checkpoint.ipynb
exp4/checkpoint
exp4/div0le.ckpt.data-00000-of-00001
exp4/div0le.ckpt.index
exp4/div0le.ckpt.meta
exp5/Untitled1.ipynb
exp1/*.db
exp5/*ckpt*
exp6/*ckpt*

